
body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 55px;
}

.logo {
  
  width: 55px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  }

.nav-list {
list-style: none ; /* Remove default list styling */
display: flex;
}

.nav-list li {
  margin-left: 10px; /* Space between list items */
  font-size: 1.1rem;
} 

.footer {
background-color: rgb(13, 10, 15);
text-align: right;
margin-top: 20px;
border-top: 1px solid #444;
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
margin-top: auto;

} 
